* {
    font-family: 'Open Sans', sans-serif;
}

body {
    /**  padding-left: 10px; */
    box-sizing: border-box;
}

.chatroomheader {
  text-align: center;
  font-weight: bolder;
}

.top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 92px;
    background-color: #DEDEDE;
    border-bottom: solid #d3d3d3 7px;
    text-align: center;
}

.left {
    position: absolute;
    left: 0;
    top: 92px;
    bottom: 0;
    width: 20%;
    background-color: #DEDEDE;
    border-right: solid #d3d3d3 7px;
    padding-top: 7px;
     box-sizing: border-box;
}

ul {
    list-style-type: none;
}

 .messages {
   font-family: 'Open Sans', sans-serif;
   font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    left: 470px;
    top: 120px;
    right: 0;
    bottom: 0;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username {
    font-weight: bold;
}
.messages .username .timestamp {
    display: inline-block;
}

 .messages .user-message {
     padding-top: 5px;
     padding-bottom: 5px;
    display: inline-block;
 }

 .message-field {
     bottom: 0;
     padding-bottom: 5px;
     position: fixed;
 }


span {
    font-size: 4rem;
    padding-right: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 5.2rem;
    font-weight: bolder;
    text-align: center;
}

ul li {
    text-decoration: none;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.modal {
    text-align: center;
}

.modal-form {
    background: #D8D8D8;
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 4px;
}

.modal-content {
    padding-left: 8px;
    padding-bottom: 8px;
    background: #D8D8D8;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: #D8D8D8;
}

.modal-input-box {
    padding-bottom: 8px;
}

.btn-bloc-color {
    color: #261B1B;
    background-color: #A39D9D;
    border-color: #AEAEB0;
}

.btn-bloc-color:hover, .btn-bloc-color:focus, .btn-bloc-color:active, .btn-bloc-color.active, .open .dropdown-toggle.btn-bloc-color {
    color: #261B1B;
    background-color: #837E8A;
    border-color: #AEAEB0;
}

.btn-bloc-color:active, .btn-bloc-color.active, .open .dropdown-toggle.btn-bloc-color {
    background-image: none;
    background-color: pink;
}

.btn-bloc-color.disabled, .btn-bloc-color[disabled], fieldset[disabled] .btn-bloc-color, .btn-bloc-color.disabled:hover, .btn-bloc-color[disabled]:hover, fieldset[disabled] .btn-bloc-color:hover, .btn-bloc-color.disabled:focus, .btn-bloc-color[disabled]:focus, fieldset[disabled] .btn-bloc-color:focus, .btn-bloc-color.disabled:active, .btn-bloc-color[disabled]:active, fieldset[disabled] .btn-bloc-color:active, .btn-bloc-color.disabled.active, .btn-bloc-color[disabled].active, fieldset[disabled] .btn-bloc-color.active {
    background-color: #A39D9D;
    border-color: #AEAEB0;
}

.btn-bloc-color .badge {
    color: #A39D9D;
    background-color: #261B1B;
}
.btn-home {
  color: #ffffff;
  background-color: #1E1B21;
  border-color: #E0DFE8;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active,
.btn-home.active,
.open .dropdown-toggle.btn-home {
  color: #ffffff;
  background-color: #8A837F;
  border-color: #E0DFE8;
}

.btn-home:active,
.btn-home.active,
.open .dropdown-toggle.btn-home {
  background-image: none;
}

.btn-home.disabled,
.btn-home[disabled],
fieldset[disabled] .btn-home,
.btn-home.disabled:hover,
.btn-home[disabled]:hover,
fieldset[disabled] .btn-home:hover,
.btn-home.disabled:focus,
.btn-home[disabled]:focus,
fieldset[disabled] .btn-home:focus,
.btn-home.disabled:active,
.btn-home[disabled]:active,
fieldset[disabled] .btn-home:active,
.btn-home.disabled.active,
.btn-home[disabled].active,
fieldset[disabled] .btn-home.active {
  background-color: #1E1B21;
  border-color: #E0DFE8;
}

.btn-home .badge {
  color: #1E1B21;
  background-color: #ffffff;
}
