<div class="top">
    <h2>Digital Nomads</h2>
</div>
<div class="left container">
    <div>

        <p><span>Bloc Chat</span><button type="button" class="btn btn-success btn-md" ng-click="home.addRoom('sm')">New  Room</button>
        </p>
    </div>

    <div ng-repeat="room in home.rooms">
        <ul>
            <li>
                <p class="room-name" ng-click="home.setCurrentRoom(room)">{{ room.name }}</p></li>
        </ul>

    </div>
</div>
<div class="messages">
    <div class="messages-header">
        <h3>{{ home.currentRoom.name }}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in home.messages">
      {{message.message}}
    </div>
</div>
