<div class="top">
    <h2>Digital Nomads</h2>
</div>
<div class="left container">
    <div>

        <p><span>Bloc Chat</span><button type="button" class="btn btn-home btn-md" ng-click="home.addRoom('sm')">New  Room</button>
        </p>
    </div>

    <div ng-repeat="room in home.rooms">
        <ul>
            <li>
                <h3 class="room-name" ng-click="home.setCurrentRoom(room)">{{room.name}}</h3></li>
        </ul>

    </div>
</div>
<div class="messages"  ng-repeat="message in home.messages">
<h2> Message Board {{message.$id}}</h2>
 {{message.message}}
   <div>{{ modal.userName }}</div>
</div>
